@charset "UTF-8";
.tabtitle {
  text-align: center;
}
.tabtitle p:first-of-type {
  margin-bottom: 0px;
}
.tabtitle p:last-of-type {
  margin-top: 0px;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 2px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tabs-loading {
  padding: 10px 0 10px;
  text-align: center;
  opacity: 0.5;
}

.inner > p:first-of-type {
  margin: 0px;
}

.stravabtn {
  color: #fc4c02;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: underline;
}

.tab {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
}
.tab:last-of-type > .tab-label {
  border-bottom: 0px;
}
.tab-label {
  padding: 1em;
  background: #4056a1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 1.25em;
  cursor: pointer;
}
.tab-content {
  padding: 0 1em;
  color: #4056a1;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.35s;
  color: #2c2c2c;
}
.tab-content:last-of-type {
  padding-bottom: 0.1em;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  font-size: 1em;
  float: right;
}

details[open] summary:after {
  content: "−";
}

summary {
  animation: fadein 0s;
  -moz-animation: fadein 0s;
  /* Firefox */
  -webkit-animation: fadein 0s;
  /* Safari and Chrome */
  -o-animation: fadein 0s;
  /* Opera */
}

@media only screen and (max-width: 600px) {
  .tab-label {
    line-height: 42px;
  }

  .tab-content {
    min-height: 4em;
  }
}
.container {
  width: 90%;
  margin: auto;
}
.container-loading {
  height: 100vh;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.cbox {
  flex-basis: 350px;
  margin: 3em;
  min-height: 500px;
}

.gbox {
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .container,
.gbox {
    width: 90%;
  }

  .cbox {
    margin: 2em 1em 2em 1em;
  }
}
.loading {
  padding: 10px 0 10px;
  text-align: center;
  opacity: 0.5;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0 2em 0;
}
header img {
  max-width: 125px;
  margin: auto;
}
header p {
  text-align: center;
  margin: 0px;
}

.load {
  height: 90%;
}

body {
  font-family: monospace;
  font-size: 12px;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.tabicon {
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.1em;
  }
}
.cbox,
.fbox,
header,
.tabs,
body,
header,
.nav > div {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.graphnav {
  cursor: pointer;
  flex-basis: 125px;
}
.graphnav.active {
  border-bottom: 2px solid #4056a1;
}

.recharts-surface {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .recharts-surface {
    width: 90%;
  }

  .graphnav:nth-of-type(-n + 2) {
    margin-bottom: 2em;
  }
}

/*# sourceMappingURL=App.css.map */
