$midnight: #4056a1;
$font: rgba(255, 255, 255, 0.6);
$font2: #2c2c2c;

.tabtitle {
  text-align: center;
  & p:first-of-type {
    margin-bottom: 0px;
  }
  & p:last-of-type {
    margin-top: 0px;
  }
}

// Layout
.row {
  display: flex;
  .col {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 2px;
  // overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  &-loading {
    padding: 10px 0 10px;
    text-align: center;
    opacity: 0.5;
  }
}
.inner > p:first-of-type {
  margin: 0px;
}
.stravabtn {
  color: #fc4c02;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: underline;
}

.tab {
  width: 100%;
  color: $font;
  display: flex;
  &:last-of-type > .tab-label {
    border-bottom: 0px;
  }
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    border-bottom: 1px solid $font;
    line-height: 1.25em;
    cursor: pointer;
  }
  &-content {
    padding: 0 1em;
    color: $midnight;
    background: $font;
    transition: all 0.35s;
    color: $font2;
    &:last-of-type {
      padding-bottom: 0.1em;
    }
  }
}

details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "â¯";
  font-size: 1em;
}
details[open] summary:after {
  transform: rotate(90deg);
}

summary {
  animation: fadein 0s;
  -moz-animation: fadein 0s; /* Firefox */
  -webkit-animation: fadein 0s; /* Safari and Chrome */
  -o-animation: fadein 0s; /* Opera */
}
