.loading {
  padding: 10px 0 10px;
  text-align: center;
  opacity: 0.5;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0 2em 0;
  & img {
    max-width: 125px;
    margin: auto;
  }
  & p {
    text-align: center;
    margin: 0px;
  }
}
.load {
  height: 90%;
}

@media only screen and (max-width: 600px) {
  .gbox {
    width: 80%;
  }
  .load {
    height: 80%;
  }
}
